<!-- Primary template that will get shown when widget loads -->
<script type="text/ng-template" id="exampracticeMain.html"> 
	<div class="item item-text-wrap item-icon-right" ng-repeat="item in items" ng-click="showDetails(item)">
		<span class="itemName">{{item.title}}</span>
		<span ng-repeat= "tag in item.tags" class="badge badge-balanced">
			{{tag}}
		</span>
	
		<i class="ion-chevron-right icon"></i>
	</div>
</script>

<!-- This template gets shown when user clicks one of the items in the list -->
<script type="text/ng-template" id="exampracticeDetails.html"> 
	<div class="item">
		{{detailsItem.title}}
	</div>
	<div class="item item-text-wrap"><span ng-repeat= "tag in detailsItem.tags" class="badge badge-balanced">{{tag}}</span></div>
	<div class="item item-text-wrap"><p>{{detailsItem.details}}</p></div>
</script>