<!-- This template gets shown when user clicks one of the items in the list -->
<script type="text/ng-template" id="exampracticeDetails.html"> 
	<!-- 'wr' and 'wc' are short for 'widget-row' and 'widget-cell' -->
	<wr>
		<wc>Random Question</wc>
	</wr>
    <wr><wc><span ng-repeat= "tag in randomquestion.tags" class="label label-success">Random One Question</span></wc></wr>
	<wr><wc><span ng-repeat= "tag in 5star.tags" class="label label-success">★★★★★ Questions</span></wc></wr>
    <wr><wc><span ng-repeat= "tag in 4star.tags" class="label label-success">★★★★ Questions</span></wc></wr>
    <wr><wc><span ng-repeat= "tag in 3star.tags" class="label label-success">★★★ Questions</span></wc></wr>
    <wr><wc><span ng-repeat= "tag in 2star.tags" class="label label-success">★★ Questions</span></wc></wr>
    <wr><wc><span ng-repeat= "tag in 1star.tags" class="label label-success">★ Questions</span></wc></wr>
	<wr><wc><div class="pDetails">{{detailsItem.details}}</div></wc></wr>
</script>