<!-- This template gets shown when user clicks one of the items in the list -->
<script type="text/ng-template" id="exampracticeDetails.html"> 
	<!-- 'wr' and 'wc' are short for 'widget-row' and 'widget-cell' -->
	<wr>
		<wc>Random Question</wc>
	</wr>
	<wr><wc><span ng-repeat= "tag in detailsItem.tags" class="label label-success">★★★★★</span></wc></wr>
    <wr><wc><span ng-repeat= "tag in detailsItem.tags" class="label label-success">★★★★</span></wc></wr>
    <wr><wc><span ng-repeat= "tag in detailsItem.tags" class="label label-success">★★★</span></wc></wr>
    <wr><wc><span ng-repeat= "tag in detailsItem.tags" class="label label-success">★★</span></wc></wr>
    <wr><wc><span ng-repeat= "tag in detailsItem.tags" class="label label-success">★</span></wc></wr>
	<wr><wc><div class="pDetails">{{detailsItem.details}}</div></wc></wr>
</script>